



<!------------------------------------------------------------RECIPES------------------------------------------------>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a href=""><img src="../assets/egg.jpg" alt=""></a>
      <a href="" id="a1">Appetizers</a> <br>
      <a href="" id="a2">Bruschetta with Beef Tartare</a> 
    </div>
      
    <div class="col-sm-4">
      <a href=""><img src="../assets/noodel.jpg" alt=""></a>
      <a href="" id="a1">Pasta</a><br>
      <a href="" id="a2">Spaghetti with Garlic and Oil</a>
    </div>
    <div class="col-sm-4">
      <a href=""><img src="../assets/pancake.jpg" alt=""></a>
      <a href="" id="a1">Desserts</a><br>
      <a href="" id="a2">Buttermilk Pancakes with Maple Syrup Apples</a>
    </div>
  </div>
</div>
