
  <div class="container1">
    <div class="container_fluid">
        <div class="signup">
            <div class="signup_txt">
                Sign-up now - don't miss the fun!
                <input id="email" type="email" placeholder="Your email address.."><input id = "submit" type="submit" value="SUBSCRIBE">
            </div>
         </div>
        
         <app-navbar></app-navbar>

        <div class="container2">
          <div class="span1">
            Cookely
          </div>
          
          <app-socialmedia></app-socialmedia>
          
        </div>

        <div class="clr">
        </div>

        <hr>
       
        


      </div>
    </div>   
    <router-outlet></router-outlet>  
    
