<!------------------------------------------------------------Shawarma------------------------------------------------>

 
  
      <div class="container">
        <h1>How to make chicken shawarma at home?</h1><br>
        <h5>I find that boneless, skinless chicken thighs are the best cut for shawarmas. They’re much less expensive than breast meat and also much juicier. More bang for your buck without sacrificing flavor. You just can’t beat that! You can use chicken breast if you like leaner meat. I would even suggest using half breast and half thighs if you can. Let’s go over all of the ingredients.<br>
        <br>
        * olive oil <br>
        * freshly squeezed lemon juice <br>
        * onion <br>
        * garlic cloves <br>
        * chicken thighs and/or, chicken breast <br>
        </h5>   
      </div>
    