<div class="container3">
    <h2>Subcribe to our News letter</h2>
    <h5>Enter your email address to subcribe to our blog and receive new recipes by email</h5>
    <div class="container4">
       
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Subscribe
          </button>
        <img id="img1" src="../../assets/fork.png" alt="">
        <img id="img2"src="../../assets/mail.png" alt="">
        </div>

</div>
